body {
    text-align: center;
    color: white;
}

.score {
    text-align: center;
    
}

.players {
    list-style: none;
    padding: 0%;
}

#new-content {
    display: grid;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0px 200px 0px;
}

.content {
    background-color: rgba(41, 45, 49, 0.63);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    background-image: url("../assets/benjamin-voros-phIFdC6lA4E-unsplash.jpg");
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}