.nav-bar {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: minmax(20px, auto);
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0%;
    
}

h1 {
    text-align: center;
    color: white;
}

#jeopardy-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-auto-rows: minmax(100px, auto-fit);
    justify-content: space-between;
    align-items: center;

}

body {
    display: grid;
    justify-items: center;
}

.topic, .amount {
    border: solid 1px  black;
    border-radius: 8px;
    background-color: rgba(226, 226, 226, 0.736);
    height: 100px;
    text-align: center;
    align-items: center;
}

.players {
    list-style: none;
    padding: 0%;
}

.players, .score {
    text-align: center;
}

#submit {
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.score {
    padding: 0px 200px 0px 200px;
}

html {
    background-image: url("../assets/benjamin-voros-phIFdC6lA4E-unsplash.jpg");
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.score, #submit, .nav-bar {
    background-color: rgba(226, 226, 226, 0.736);
    border-radius: 8px;
}