.nav-bar {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: minmax(20px, auto);
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 0%;
}

h1 {
    text-align: center;;
}

#jeopardy-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-between;
    align-items: center;

}

body {
    display: grid;
    justify-items: center;
}

.topic, .amount {
    border: solid 1px  blue;
    background-color: rgb(226, 226, 226);
    height: 100px;
    text-align: center;
    align-items: center;
}

.players {
    list-style: none;
    padding: 0%;
}

.players, .score {
    text-align: center;
}

#submit {
    padding-top: 20px;
}